---
apiVersion: v1
kind: ConfigMap
metadata:
  name: milvus-etcd-config
data:
  embedEtcd.yaml: |
    listen-client-urls: http://0.0.0.0:2379
    advertise-client-urls: http://0.0.0.0:2379
    quota-backend-bytes: 4294967296
    auto-compaction-mode: revision
    auto-compaction-retention: '1000'
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: milvus-user-config
data:
  user.yaml: |
    # Extra config to override default milvus.yaml
